<div class="login-container">
    <h2>Login</h2>
        <form action="/user/login" method="post"> 
            <ul class="login-content">
                <li>
                    <input type="text" name="username" placeholder="Type in your username">
                </li>    
                <li>
                    <input type="password" name="password" placeholder="Type in your password">
                </li>
                <li>
                    <button class="signupBth" type="submit">Login</button>
                </li>
            </ul>

        </form>
</div>
